<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
  <appSettings>
    <add key="mcadPathDLL" value="C:\Program Files\PTC\Mathcad Prime 9.0.0.0\Ptc.MathcadPrime.Automation.dll"/>
  </appSettings>
</configuration>